<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <title>Bot Dashboard</title>
  </head>
  <body>
    <h1>Willkommen im Control Panel!</h1>
    <% if (message) { %>
    <p id="flash-message" style="color: red; font-weight: bold">
      <%= message %>
    </p>

    <script>
      setTimeout(function () {
        const msgElement = document.getElementById('flash-message');
        if (msgElement) {
          msgElement.style.display = 'none';
        }
      }, 4000);
    </script>
    <% } %>
    <br /><br />
    <a
      href="/rechner"
      style="
        padding: 10px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
      "
      >Zum Rechner</a
    >
    <a
      href="/kanaele"
      style="
        padding: 10px;
        background-color: #28a745;
        color: white;
        text-decoration: none;
        border-radius: 5px;
      "
      >Kanäle anzeigen</a
    >
    <a
      href="/logout"
      style="
        padding: 10px;
        background-color: #d30909;
        color: white;
        text-decoration: none;
        border-radius: 5px;
      "
      >Logout</a
    >
    <% if (guildIds === 'all') { %>
    <br /><br />
    <p>Admin Bereich</p>
    <a
      href="/user-management"
      style="
        padding: 10px;
        background-color: #bd6f16;
        color: white;
        text-decoration: none;
        border-radius: 5px;
      "
      >User Management</a
    >
    <a
      href="/read-database"
      style="
        padding: 10px;
        background-color: #a12597;
        color: white;
        text-decoration: none;
        border-radius: 5px;
      "
      >Datenbank auslesen</a
    >
    <% } %>
  </body>
</html>
