<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <title>Bot Dashboard</title>
  </head>
  <body>
    <h1>Willkommen im Control Panel!</h1>
    <p>Der aktuelle Status ist: <strong><%= botStatus %></strong></p>
    <br /><br />
    <!-- Ein simpler Link, den man mit CSS später wie einen echten Button aussehen lassen kann -->
    <a
      href="/rechner"
      style="
        padding: 10px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 5px;
      "
      >Zum Rechner</a
    >
    <a
      href="/kanaele"
      style="
        padding: 10px;
        background-color: #28a745;
        color: white;
        text-decoration: none;
        border-radius: 5px;
      "
      >Kanäle anzeigen</a
    >
    <a
      href="/read-database"
      style="
        padding: 10px;
        background-color: #23a125;
        color: white;
        text-decoration: none;
        border-radius: 5px;
      "
      >Datenbank auslesen</a
    >
  </body>
</html>
